<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.memoryassistant"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="17" />

    <application
        android:name=".MemAssistApp"
        android:allowBackup="true"
        android:icon="@drawable/memory_assistant_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MemoryAssistantMainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name=".AddNewActivity"
            android:screenOrientation="portrait" >
        </activity>
        
        <activity 
            android:name=".StudyActivity"
            android:screenOrientation="landscape" >
        </activity>
        
        <activity 
            android:name=".TestActivity"
            android:screenOrientation="landscape" >
        </activity>
        
        <activity android:name=".ViewAllActivity"
            android:screenOrientation="portrait" >
        </activity>
        
        <activity android:name=".SettingsActivity"
            android:screenOrientation="portrait" >
        </activity>
        
    </application>

</manifest>
